{"menu" :[ {
			"startMenu" : [{
							"menu" : "SAI Finance",							
							"link" : [{ 
										"menu" : "SAI Finance",
										"link" : "GUI_saiApp",
										"status" : "A"			
									  },
									  { 
										"menu" : "Help SAI Finance",
										"link" : ""	,
										"status" : "A"		
									  },
									  { 
										"menu" : "About",
										"link" : ""	,
										"status" : "A"		
									  },
									  { 
										"menu" : "Demo",
										"link" : "GUI_saiApp",
										"status" : "A"			
									  }
									 ]
							},
							{
							"menu" : "SAI Investasi",
							"link" : "app_investasi_investapp",
							"status" : "A"											
							},	
							{
							"menu" : "SAI SDM",
							"link" : "app_sdm_app",
							"status" : "A"											
							}
							],
				"Setting" : [ {
								"menu" : "System",
								"link" : [{
											"menu" : "Control Panel",
											"link" : "GUI_rujax_fControlPanel",
											"status" : "F"					
											},
										   {
											"menu" : "Display",
											"link" : "GUI_rujax_fProperties",
											"status" : "F"					
										   },
										   {
											"menu" : "User Account",
											"link" : "GUI_rujax_fUserAccount",
											"status" : "F"					
										   }
										  ]
							  },
							  {
								"menu" : "Tools",
								"link" : []
							  },			
							  {
								"menu" : "Application",
								"link" : []
							  }			
							]
				
			}
		]
}